### Import libraries

In [27]:
# Please make sure you have pip installed requests and bs4 in your computer before importing to Python 

from bs4 import BeautifulSoup as bs 
from requests import get
import pandas as pd

In [82]:
myurl = 'https://www.imdb.com/chart/top/?ref_=nv_mv_250' # website url you want to scrape 
response = get(myurl) # get access to the website

In [83]:
print(response.status_code) # 200 means it is accessible, 404 means not

200

In [30]:
# print(response.text) # raw HTML page

### (1) create a beautifulsoup object

In [32]:
html_soup = bs(response.text, 'lxml') # lxml parser
# print(html_soup)

In [38]:
# print(html_soup.prettify()) # nicely formatted html

### (2) find movie table

In [49]:
movie_table = html_soup.find('table',class_ = 'chart full-width')
# print(movie_table)

### (3) find movie list

In [51]:
movie_list = movie_table.find('tbody',class_ = 'lister-list')
# print(movie_list)

### (4) first movie

In [81]:
first_movie =  movie_list.find('tr')
# print(first_movie)

### `Find_all`

In [84]:
movie_body = movie_list.find_all('tr')

In [85]:
print(len(movie_body))

250

In [75]:
movie_name = []
movie_year = []
movie_rate = []

for i in movie_body:
    movie_name.append(i.find('td',class_='titleColumn').a.text)
    movie_year.append(int(i.find('td',class_='titleColumn').span.text[1:-1]))
    movie_rate.append(float(i.find('td',class_='ratingColumn imdbRating').strong.text))

In [87]:
# print(movie_name)

In [89]:
# print(movie_year)

In [90]:
# print(movie_rate)

### write to data frame

In [77]:
movie_info = pd.DataFrame({'movie_name':movie_name,'movie_year':movie_year,'movie_rate':movie_rate})
movie_info.head()

                 movie_name  movie_year  movie_rate
0  The Shawshank Redemption        1994         9.2
1             The Godfather        1972         9.1
2    The Godfather: Part II        1974         9.0
3           The Dark Knight        2008         9.0
4              12 Angry Men        1957         8.9

In [91]:
print(movie_info.shape)

(250, 3)

### write to csv file

In [79]:
movie_info.to_csv('imdv_250_movies.csv')

## Mini Exercise 
Find the related information for 'The Shawshank Redemption'
- Website url: https://www.imdb.com/title/tt0111161/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=e31d89dd-322d-4646-8962-327b42fe94b1&pf_rd_r=C90KXM8TWZEEQBKZB3D3&pf_rd_s=center-1&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_tt_1

#### (1) Find the movie summary

In [ ]:
# your code

#### (2) Find the director's name

In [ ]:
# your code